
*{
    font-family: 'Poppins', sans-serif;
  
  }

  
    /* HEADER */
  .header {
    overflow: hidden;
    background-color: rgb(65, 8, 99);
    padding-top: 40px;
    margin-bottom: 30px;
  }
  
  .logo img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto; /* centraliza a imagem */
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilo dos links do cabeçalho */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin: 20px;
  }
  
  /* Mudar o background color quando o mouse está em cima */
  .header-right a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    align-items: center;
  }
  
  
  /*Flutue a seção do link para a direita */
  .header-right {
    float: right;
    padding-right: 40px;
  }
  
  
  /* Adicione consultas de mídia para maior capacidade de resposta - quando a tela tiver 500 px de largura ou menos, empilhe os links uns sobre os outros */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  hr {
      border: 0;
      border-top: 1px solid #000000;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .social-media a ion-icon {
    color: white;
    background-color: black;
  }
  .social-media a:hover ion-icon {
    color:indianred;
    transform: translateY(5px);
  }


  /* Estilo para o formulário de reserva */
form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 30%;
    padding: 8px;
    margin-top: 5px;

  }
  
  button {
    margin-top: 15px;
    background-color: rgb(0, 19, 105);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;

  }


  /* Estilo para a tabela de reservas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: rgb(52, 4, 92);
    color: #fff;
  }
  